*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-wrap{
    width: 92vw !important;
    height: 90vh;
    /* background-color: blue; */
}

ul{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    margin-top: -50px;
    
}
a{
    text-decoration: none;
    color: black;
}
input{
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(152, 149, 149);
}
.btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 120px ;
    height: 40px;
    border: none;
    margin-top: -10px;
}
.btn-1{
    color: blue;
    border-radius: 10px;
    width: 90px ;
    height: 27px;
    border: 1px solid grey;
    margin-top: 3px; 
    display: block;
    
}
.card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    gap: 20px;
    

}
.card{
    height: 190px;
    background-color: whitesmoke;
}

img{
    margin:20px;
} 
/* media query */

@media screen and (max-width: 1199px) {
    .card-wrap{
        height: auto;
    }
}
@media screen and (max-width:991px){
    .card-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }
        
        
        
        ul{
            gap: 15px;
            flex-direction: row;
            margin-top: -100px;
            margin-bottom: 40px;
            padding-left: 0 !important;
            
        }
        input{
            width: 250px;
            height: 53px;
            margin-top: 50px;
        }
        .card-body{ 
            margin-left: 30px;
        }
        
        
        .col-4 img{
            width: 150px !important;
            height: 150px !important;
        }
        .space-top{
            margin-top: 90px;
        }
        .btn{
            width: 91px;
            letter-spacing: -1px;
            font-size: 15px;
        }
    }

    @media screen and (max-width:550px){
        ul{
            gap: 10px;
        }

        input{
            height: 40px;
        }
        
        
        .col-4 img{
            width: 100px !important;
            height: 100px !important;
        }

        .btn-1{
            margin-bottom: 10px !important;
        }

        
    }

    @media screen and (max-width:345px){
        h1{
            margin-bottom: 40px;
        }
        .col-4 img{
            width: 80px !important;
            height: 80px !important;
        } 

        .card-title{
            font-size: 1.05rem !important;
        }

        .card-text{
            margin-bottom: 10px !important;
        }

        input{
            width: 200px;
            height: 35px;
        }
        .card-body{
            margin: 0 !important;
            padding: 10px !important;

        }
        
        .row, 
        .col-8{
            display: block !important;
            width: 100% !important;
        }

        .card{
            height: 250px;
        }
        .btn-1{
            width: 68px;
            display: inline;
        }
        .space-top{
            margin-top: 70px !important;
        }
    }
